main{
  display: flex;
  flex-direction: row;
  flex: auto;
}
body{
  display: flex;
  flex-direction: column; 
}
article{
  flex: 1;
  overflow-y: auto;
}
aside{
  flex: 2;
  overflow-y: auto;
}
.dart{
  max-width: 30%;
  max-height: 30%;
  float: right;
  padding: 5px;
} 
